venv/
geckodriver.log
test.ipynb
__pycache__
auth.py
.venv
cdk.json
source.bat
__init__.py
MainEnv/


*.swp
package-lock.json
__pycache__
.pytest_cache
.env
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
workspace.code-workspace
