#Virtual environment
venv/
MainEnv/

# Format files
*.swp
*.egg-info
*.env

# Specific files
__init__.py
auth.py
test.ipynb
geckodriver.log
package-lock.json
cdk.json
source.bat

# CDK asset staging directory
cdk.out
cdk/cdk.context.json
.cdk.staging
cdk.out

# Python stuff
.pytest_cache
__pycache__

# Visual studio code stuff
workspace.code-workspace
.devcontainer/*