#Virtual environment
venv/
MainEnv/

# Format files
*.swp
*.egg-info
*.env

# Specific files
__init__.py
auth.py
test.ipynb
geckodriver.log
package-lock.json
cdk.json
source.bat


# Python stuff
.pytest_cache
__pycache__


# CDK asset staging directory
.cdk.staging
cdk.out

# Visual studio code stuff
workspace.code-workspace
.devcontainer/devcontainer.json
.devcontainer/Dockerfile
