# Python libraries
python-telegram-bot
python-dotenv

# AWS libraries
aws-cdk-lib
constructs
aws-secretsmanager-caching

# AWS dev libraries
pytest


botbuilder-core
asyncio
aiohttp
cookiecutter==1.7.0